@page
@model BooksModel
@{
    ViewData["Books"] = "Library Books";
}

<h1>Library Books</h1>

<h2>All Books</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre.GenreName</td>
                <td>
                    <a asp-action="EditBook" asp-route-id="@book.BookId">Edit</a> |
                    <a asp-action="DeleteBook" asp-route-id="@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>