@page
@model LoginModel
@{
    ViewData["Login"] = "Login";
}
<h1>@ViewData["Login"]</h1>

    <form method="post" class="w-50">
        <div class="mb-3">
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="Username" required />
        </div>
        <div>
            <label  class="form-label"  for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="Password" required />
        </div>
        <div class="mt-3">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>